* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin: calc((100vh - 1042px)/2) auto;
    background: url(images/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    border: 4px solid #fff;
}

.header {
    margin: 20px 0;
}

.hero {
    width: 600px;
    background-color: #fffc;
    text-align: center;
    padding: 20px;
    border: 10px solid #000;
}

.hero h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.hero p, .form p {
    font-size: 20px;
}

.form {
    width: 600px;
    background-color: #fffc;
    text-align: center;
    padding: 20px 20px 40px 20px;
    margin: 20px 0;
}

.form h2 {
    font-size: 30px;
    font-weight: 400;
}

.form p {
    padding: 20px 0;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fields {
    width: 300px;
    border: none;
}

.label {
    display: block;
    background-color: #3d3d3d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    padding: 7px;
    color: #fff;
    text-align: left;
}

#name, #email, #time {
    width: 300px;
    display: block;
    line-height: 30px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#submit {
    width: 300px;
    display: block;
    background-color: #3d3d3d;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 30px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.footer {
    color: #3d3d3d;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
